@import "./variables";

body,
.off-canvas-wrapper,
.home-section:nth-of-type(2n + 1) {
  background-color: $body-background;
}

body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 300;
}

strong,
b,
.author__name,
.statistics-cell .statistic__number,
.statistics-cell .statistic__title,
.home-stats__lowlight .statistic__number,
.card-data__item.creation_date_status strong,
.mini-title,
.section-heading,
.card__icondata ul li:not(:first-child) strong,
.card__block ul li:not(:first-child) strong,
.text-highlight.heading1,
.card-data__item__number,
.budget-list__data__votes,
.budget-list__data__number,
.card--list__data__number,
.card__text .card__text--status,
.card__label,
.process-nav__link,
.process-nav__more,
.process-nav__hidden-content__more,
.accountability .categories .categories--group .card__link .category--line strong,
.accountability .intro .progress-level p,
.mini-title__strong,
.definition-data__number,
.process-header .heading2,
.process-header .card--full .card__title,
.card--full .process-header .card__title,
.heading1,
.phase-title,
.phase-subtitle--initiatives,
.phase-title--initiatives,
.phase-date {
  font-weight: 400;
}

.filters__section label[data-global-checkbox],
.filters__section--general label[data-global-checkbox] {
  font-weight: 500;
}
