<div class="p-s">
  <h4><%= t(".document_index") %></h4>
  <div class="text-muted">
    <% @proposals.each do |proposal| %>
      <div class="mb-s">
        <p>
          <% if proposal.participatory_text_level == "article" %>
            <%= link_to resource_locator(proposal).path do %>
              <u><%= decidim_html_escape(present(proposal).title) %></u>
            <% end %>
          <% else %>
            <%= decidim_html_escape(present(proposal).title) %>
          <% end %>
          <br>
        </p>
      </div>
    <% end %>
  </div>
</div>
